/* Global Css Default */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}
